/*main > .container {*/
/*    padding: 60px 15px 0;*/
/*}*/

/*.footer {*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    height: 5%;*/
/*    background-color: WindowFrame;*/
/*    color: white;*/
/*    display: flex;*/
/*    justify-content: center;*/


/*}*/
.page-footer {
    font-size: 0.95rem;
    text-align: center;

    background-color: #d8dff9;
}

.page-footer span {
    color: var(--red);

}






/*.footer > .container {*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*}*/

/*code {*/
/*    font-size: 80%;*/
/*}*/
