
select{
    display: flex;
    width: 80%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;

}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 10px 15px;
    margin-left: 1%;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.mainContent h2{
    border-bottom: 1px solid grey;
    padding-bottom:10px;
    margin-left: 2%;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 20px
}
.form label {
    display: flex;
    font-size: 18px;
    padding: 10px 15px;
    font-style: normal;
    font-variant: normal;
}
input{
    width: 80%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

/*.mainContent form input[type=submit] {*/
/*    width: 20%;*/
/*    background-color: #20B2AA;*/
/*    color: white;*/
/*    padding: 10px 15px;*/
/*    margin: 8px 0;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/
.btn{
    width: 30%;
    margin-left: 40%;
    background-color: #20B2AA;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;

}
.btn:hover{
    background-color: #45a049;
}
/*button {*/
/*    width: 20%;*/
/*    margin-left: 60%;*/
/*    background-color: #20B2AA;*/
/*    color: white;*/
/*    padding: 10px 15px;*/
/*    border: none;*/
/*    border-radius: 4px;*/
/*    cursor: pointer;*/
/*}*/
.ReportTable {
    border-collapse: collapse;
    width: 100%;
}
.ReportTable tr{
    width: '100%';
}

.ReportTable td {
    border: 1px solid #726E6D;
    padding: 15px;
}

.ReportTable thead{
    font-weight:bold;
    text-align:center;
    background: #364c71;
    color:white;
}


.footer {
    text-align:right;
    font-weight:bold;

}

.ReportTable tbody >.ReportTable tr:nth-child(even) {
    background: #00b9eb;
}
@media screen and (max-width: 600px) {
    /*.ReportTable td{*/
    /*    display: flex;*/
    /*}*/
}
