<!DOCTYPE html>
<html>
<head>
	<title>title</title>
</head>
<body>
	<div style="display: flex; flex-direction: row;background-color: blue;height: 450px;"> 
		<div style="flex-grow: 1;background-color: green;">Side nav</div>
		<div style="flex-grow: 6;background-color: red;display: flex;flex-direction: column;">
			<div style="flex-grow: 1;background-color: gray" >top nav</div>
			<div style="flex-grow: 8">content</div>
			<footer style="flex-grow: 1;background-color: gray">footer</footer>
		</div>
	</div>

</body>
</html>